*{
  box-sizing: border-box;

}

.table{
  display: flex;
  text-align: center;
      font-family: fantasy;
    text-align: center; 
    color: red;
        width: 250px;
    height: 300px;
    text-align: center;
    background: rgb(231, 231, 231);
    box-shadow: inset 0px 0px 20px black;
    padding-top: 20px;
    float: left;
    box-sizing: border-box;
    margin: 10px;
}