body{

    background-color: aqua;

}

h1{
    text-align: center;

}

p ~ ul{
    font-size: xx-large;
    color: green;
     text-align:center;
}

p{
    font-size: xx-large;
    color: red;
    text-align: center;
}

p#mail{
    color: green;
}

form{
    font-size: medium;
    color: green;
    text-align: center;
}

p#update{
    font-size: 20px;
    color: green;
    margin-bottom: 10px;
}
